@{
    ViewData["Title"] = "Home Page";
}


@{ int i = 0;}




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @{
        for (i = 0; i < 5; i++)
        {
            <input type="button" value="Sinan"/>
        }
    }
    <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core 5.0</a>.
</div>
